
<div class="jumbotron">
    <div id="uploadFile">

        <form action="api/UploadFile" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <input type="file" name="fileBase" value="fileBase" class="form-control" accept=".csv" required/>
                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </div>
        </form>

    </div>

    <div id="Companies">
        <form action="api/Companies" method="get">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">Load Companies</button>
            </div>
        </form>
    </div>

    <div id="Company">
        <form action="api/Companies" method="get">
            <div class="form-group">
                <input type="number" name="id" placeholder="Insert Id" required/>
                <button type="submit" class="btn btn-primary btn-sm">Load Company</button>
            </div>
        </form>
    </div>
</div>
